@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color:#F3F6F7 ;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css for nav-bar */


a{
    color : inherit;
    text-decoration: none;
} 

.nav{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
} 

.nav__menu-list{
    
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 36px;
}

.nav__link{
    font-size: 20px;
    position: relative;
    font-weight: 500;

}

.nav__link::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -5px;
    border-radius: 20px;
    transition: all 0.2s;
}

.nav__link:hover::before, .nav__link.active::before {
    width: 100%;
}

.nav__link.active:focus::before{
    width: 100%;
}

.drawer__menu-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
